@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #111827; /* gray-900 */
  color: #e5e7eb; /* gray-200 */
}


